@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    transition: .3s;
}
.logo {
    font-size: 32px;
    line-height: 39px;
    color: #152252;
    font-family: 'Montserrat';
}
.hamburger {
    display: none;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 58px;
    background: #fff;
}
.nav-bar ul {
    display: flex;
    align-items: center;
}
.nav-bar ul li a {
    font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #192252;
padding: 10px 25px;
margin: 0 15px;
}
.nav-bar ul li:nth-child(4) {
    display: flex;
    align-items: center;
}
.nav-bar ul li a.btn {
    padding: 14px 16px;
    background: #0E1734;
    border-radius: 4px;
    color: #fff;
    transition: .3s;
    border: 1px;
    border: 1.5px solid #fff;
}
body.dark .nav-bar ul li a.btn {
    border: 1.5px solid #fff;
}
body.dark, body.dark header, body.dark .faqs .faq, body.dark .faqs i.fa-solid {
background: #0E1734;
}
body.dark main h1, body.dark .nav-bar ul li a, body.dark header .logo, body.dark .info h2, body.dark .text-center h2, body.dark .question h2, body.dark .faqs h2, body.dark .cards h2 {
    color: #fff;
    transition: .3s;
}  
.appearance {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
.appearance svg path {
    transform-origin: center;
    transition: all 0.6s ease;
    transform: translate3d(0, 0);
    backface-visibility: hidden;
  }
.appearance svg path.sun {
    stroke: white;
    transform: scale(0.4) rotate(60deg);
    opacity: 0;
  }
.appearance svg path.moon {
    stroke: black;
    opacity: 1;
  }
.appearance.switch svg path.sun {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
.appearance.switch svg path.moon {
    transform: scale(0.4) rotate(-60deg);
    opacity: 0;
  }
.container {
    width: 1240px;
    margin: auto;
    align-items: center;
}
main .container {
    padding: 80px 0px 170px 0px;
    display: flex;
    justify-content: space-between;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
font-weight: 600;
transition: .3s;
}
main h1 {
font-size: 48px;
line-height: 150%;
letter-spacing: -0.01em;
color: #192252;
}
main p {
    font-family: 'Inter';
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #848FAC;
padding-top: 24px;
}
main a {
    padding: 16px 32px;
    background: #0E1734;
    color: #fff;
    font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 19px;
border-radius: 5px;
display: inline-block;
margin-top: 32px;
border: 1.5px solid #fff;
}
main .text {
    width: 50%;
}
main .img {
    width: 48%;
    display: flex;
    justify-content: space-between;
}
main .img img:nth-child(2) {
    margin-top: 140px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 108px;
}
.info .text {
    width: 50%;
}
.info h2, .text-center h2, .question h2 {
    font-size: 36px;
line-height: 150%;
letter-spacing: -0.01em;
color: #192252;
}
p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.info p, .text-center p {
    color: #848FAC;
    padding-top: 20px;
}
.info a, .text-center a {
    padding: 16px 32px;
    background: #0E1734;
    color: #fff;
    font-weight: 500;
font-size: 16px;
line-height: 19px;
font-family: 'Inter';
border-radius: 4px;
display: inline-block;
margin-top: 32px;
border: 1.5px solid #fff;
}
.text-center {
    text-align: center;
    margin-top: 80px;
    width: 50%;
}
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
}
.card h2 {
    font-weight: 600;
font-size: 24px;
line-height: 160%;
color: #000000;
}
.card p, .card a {
    font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #848FAC;
font-family: 'Inter';
}
.card p {
    padding-top: 16px;
}
.card a {
    display: inline-block;
    margin-top: 32px;
    color: #424F7B;
}
.card {
    width: 32%;
}
.card img {
    width: 100%;
}
.question {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question .text {
    width: 45%;
}
.question h6 {
    font-weight: 500;
font-size: 16px;
line-height: 150%;
font-family: 'Inter';
color: #424F7B;
}
.question h2 {
    padding-top: 12px;
}
.question p {
    color: #848FAC;
    padding-top: 24px;
}
.question a {
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border-radius: 4px;
    font-family: 'Inter';
}
.question .links {
    margin-top: 32px;
}
.question a.lorem {
color: #fff;
background: #0E1734;
border: 1.5px solid #fff;
}
.question a.ipsum {
    color: #0E1734;
}
.faqs {
    width: 52%;
}
.faqs .faq {
    background: aliceblue;
    width: 100%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(232, 230, 230, 0.6);
    height: 100px;
    flex-wrap: wrap;
    cursor: pointer;
    overflow: hidden;
    transition: .4s;
}
.faqs .faq:nth-child(2), .faqs .faq:nth-child(3) {
    margin-top: 10px;
}
.faqs i.fa-solid {
    color: #FF620A;
    background: #FFECE2;
    width: 50px;
    height: 50px;
    font-size: 21px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    border: 1.5px solid #fff;
}
.answer {
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: 1s all ease;
}
.faq.active {
    overflow: hidden;
    height: 160px;
    transition: .4s;
}
.faq.active i.fa-solid, body.dark .faq.active i.fa-solid {
    transform: rotate(180deg);
    background: #FF620A;
    color: #fff;
    border: none;
}
.faq.active .answer {
    overflow: visible;
}
.faq p {
    padding-top: 15px;
}
.text-center:last-of-type {
    width: 65%;
}
.text-center img {
    margin-top: 62px;
}
.text-center p {
    padding-top: 42px;
}
.text-center h6 {
    font-family: 'Inter';
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #192252;
padding-top: 40px;
}
footer {
    width: 100%;
    height: 444px;
    padding: 120px 0px;
    margin-top: 116px;
    background: #0B265A;
}
footer .container, footer .footer {
    display: flex;
    justify-content: space-between;
}
footer .logo {
    color: #fff;
}
footer p, .footer-col ul li a {
    font-family: 'Inter';
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #D9DBDE;
padding-top: 13px;
}
.social-links {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
} 
.social-links a {
    color: #fff;
    font-size: 27px;
}
.footer-col {
    width: 200px;
}
footer .footer {
    width: 650px;
}
.footer-col ul {
    line-height: 40px;
}
.footer-col h4 {
    font-family: 'Inter';
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;
color: #fff;
margin-bottom: 12px;
}
@media (max-width: 1320px) {
    header {
        padding: 0 40px;
    }
}
@media (max-width: 1100px) {
    header {
        padding: 0 20px;
    }
}
@media (max-width: 846px) {
    header {
        padding: 30px 15px;
        transition: .5s;
        background: #0B265A;
        align-items: start;
        justify-content: space-between;
    }
    .logo {
        color: #fff;
    }
    .nav-bar {
        position: absolute;
        top: 100px;
        left: 0;
        padding: 0;
        right: 0;
        bottom: 0;
    }
    .nav-bar ul {
        flex-direction: column;
        line-height: 60px;
        transition: .5s;
        height: 0;
        overflow: hidden;
        align-items: start;
    }
    .nav-bar ul li:nth-child(4) {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .appearance {
        margin-top: 20px;
    }
    .appearance svg path.moon {
        stroke: #fff;
    }
    .nav-bar ul li a {
        color: #fff;
        padding: 0;
    }
    .nav-bar ul li a.btn {
        display: inline-block;
        margin-top: 20px;
        border: none;
        transition: .7s;
    }
    body.dark .nav-bar ul li a.btn {
        border: 1.5px solid #fff;
        transition: .7s;
    }
    header.show {
        height: 370px;
    }
    header.show .nav-bar ul {
        display: block;
        transition: .5s;
        visibility: visible;
        height: 300px;
    }
    .hamburger {
        display: flex;
        align-items: center;
        width: 50px;
        height: 45px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      .hamburger > .line {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #fff;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      
      .hamburger > .line:nth-child(1) {
        top: 0px;
      }
      
      .hamburger > .line:nth-child(2), .hamburger > .line:nth-child(3) {
        top: 16px;
      }
      
      .hamburger > .line:nth-child(4) {
        top: 33px;
      }
      
      .hamburger.open > .line:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      
      .hamburger.open > .line:nth-child(2) {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      
      .hamburger.open > .line:nth-child(3) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      
      .hamburger.open > .line:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }      
}
@media (max-width: 822px) {
    .container {
        width: 100%;
        padding: 0;
    }
    main .container, .info, .cards, .question, footer .container {
        flex-direction: column;
        padding: 15px;
        gap: 40px;
    }
    main .img, main .text, .info .img, .info .text, .info img, .question .text, .card-body, .cards .card {
        width: 100%;
        text-align: center;
    }
    main img {
        width: 31%;
    }
    .cards {
        padding: 0;
    }
    .cards .card-body {
        padding: 15px;
    }
    .faqs, .faq {
        width: 100%;
    }
    .faqs .faq {
        height: 80px;
    }
    .faq.active {
        height: 175px;
    }
    .faq h2 {
        font-size: 25px;
    }
    .text-center:last-of-type, .text-center {
        width: 100%;
        padding: 15px;
    }
    .footer-col {
        width: 100%;
        text-align: center;
    }
    .social-links {
        margin: 40px auto 0 auto;
    }
    .footer-col:first-child {
        width: 80%;
        margin: auto;
        text-align: center;
    }
    footer .footer {
        width: 100%;
        flex-direction: column;
        gap: 40px;
    }
    footer {
        height: 100%;
        padding: 15px 0px;
    }
}
@media (min-width: 425px) and (max-width: 474px) {
    .faq h2 {
        font-size: 21px;
    }
}
@media (max-width: 424px) {
    .faq h2 {
        font-size: 17px;
    }
    .faqs .faq {
        height: 70px;
    }
    .faq.active {
        height: 155px;
    }
    .faqs i.fa-solid {
        width: 25px;
        height: 25px;
        font-size: 11px;
    }
}
@media (max-width: 343px) {
    .faq h2 { 
    font-size: 13px;
    }
    .faq p {
        font-size: 11px;
    }
    .faqs .faq {
        height: 60px;
    }
    .faq.active {
        height: 115px;
    }
}
@media (max-width: 283px) {
    .faq h2 { 
        font-size: 11px;
        }
        .faq p {
            font-size: 9px;
        }
        .faqs .faq {
            height: 50px;
        }
        .faq.active {
            height: 105px;
        }
}
@media (min-width: 576px) and (max-width: 824px) {
    .faqs h2 {
        font-size: 21px;
    }
    .faqs .faq {
        height: 80px;
    }
    .faq.active {
        height: 145px;
    }
    footer {
        height: 100%;
        padding: 15px 0px;
    }
    .footer-col {
        width: 100%;
    }
    footer .footer {
        flex-wrap: wrap;
        width: 50%;
        display: flex;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    main .container {
        flex-direction: column;
        gap: 50px;
    }
    main .img, main .text {
        padding: 15px;
        width: 100%;
        text-align: center;
    }
    main img {
        width: 32%;
    }
    .info, .cards .card-body {
        padding: 15px;
    }    
    .question {
        padding: 15px;
    }
    .faqs h2 {
        font-size: 21px;
    }
    footer .container {
        padding: 15px;
    }
    footer .footer {
        width: 65%;
    }
    .faqs .faq {
        height: 85px;
    }
    .faq.active {
        height: 165px;
    }
}
@media (min-width: 993px) and (max-width: 1270px) {
    .container {
        width: 100%;
    }
    main .container, section .container, footer .container {
        padding: 15px;
    }
    main .img {
        width: 45%;
    } 
    main img {
        width: 32%;
    }
    .faqs h2 {
        font-size: 31px;
    }
    .faqs .faq {
        height: 90px;
    }
    .faq.faq.active {
        height: 155px;
    }
}